In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('car_evaluation.csv')

In [3]:
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
df.shape

(1728, 7)

In [5]:
df.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [6]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [9]:
df.buying = le.fit_transform(df.buying)
df.maint = le.fit_transform(df.maint)
df.lug_boot = le.fit_transform(df.lug_boot)
df.safety = le.fit_transform(df.safety)

In [10]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [12]:
# X and y split
X =df.iloc[:,:-1]
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [13]:
y =df.outcome
y.head()

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
Name: outcome, dtype: object

In [14]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state= 47)

In [ ]:
# here you have to add smote technique

In [16]:
y_train.shape

(1209,)

In [17]:
y_test.shape

(519,)

In [18]:
y_train.value_counts()

unacc    848
acc      264
good      50
vgood     47
Name: outcome, dtype: int64

In [19]:
#model building
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [20]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [21]:
y_pred=model.predict(x_test)

In [49]:
y_pred_train=model.predict(x_train)

In [22]:
#model evaluation
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [23]:
accuracy_score(y_test,y_pred)

0.8959537572254336

In [50]:
accuracy_score(y_train,y_pred_train)

0.9387923904052936

In [24]:
confusion_matrix(y_test,y_pred)

array([[101,   1,  18,   0],
       [ 12,   5,   2,   0],
       [ 12,   0, 350,   0],
       [  9,   0,   0,   9]], dtype=int64)

In [25]:
pd.crosstab(y_test,y_pred)

col_0    acc  good  unacc  vgood
outcome
acc      101     1     18      0
good      12     5      2      0
unacc     12     0    350      0
vgood      9     0      0      9

In [29]:
# recall of good
5/(12+5+2)

0.2631578947368421

In [30]:
# recall of vgood
9/18

0.5

In [28]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         acc       0.75      0.84      0.80       120
        good       0.83      0.26      0.40        19
       unacc       0.95      0.97      0.96       362
       vgood       1.00      0.50      0.67        18

    accuracy                           0.90       519
   macro avg       0.88      0.64      0.70       519
weighted avg       0.90      0.90      0.89       519

# Balancing technique

In [32]:
from imblearn.over_sampling import SMOTE
smote=SMOTE()

In [34]:
x_train_smote,y_train_smote = smote.fit_resample(x_train,y_train)

In [35]:
y_train.value_counts()

unacc    848
acc      264
good      50
vgood     47
Name: outcome, dtype: int64

In [36]:
y_train_smote.value_counts()

unacc    848
acc      848
good     848
vgood    848
Name: outcome, dtype: int64

In [37]:
model1=KNeighborsClassifier()

In [38]:
model1.fit(x_train_smote,y_train_smote)

KNeighborsClassifier()

In [41]:
y_pred1=model1.predict(x_test)

In [58]:
y_pred1_train=model1.predict(x_train_smote)

In [60]:
accuracy_score(y_train_smote,y_pred1_train)

0.9554834905660378

In [61]:
accuracy_score(y_test,y_pred1)

0.7803468208092486

In [62]:
pd.crosstab(y_test,y_pred1)

col_0    acc  good  unacc  vgood
outcome
acc       84    22      7      7
good       3    16      0      0
unacc     56     9    294      3
vgood      6     1      0     11

In [63]:
# recall of good
16/19

0.8421052631578947

In [64]:
#recall of vgood

11/18

0.6111111111111112

In [57]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

         acc       0.56      0.70      0.62       120
        good       0.33      0.84      0.48        19
       unacc       0.98      0.81      0.89       362
       vgood       0.52      0.61      0.56        18

    accuracy                           0.78       519
   macro avg       0.60      0.74      0.64       519
weighted avg       0.84      0.78      0.80       519